.header {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}
.inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 14px;
	padding-top: 30px;
}
.btn {
	display: none;
}
.mobileMenu {
	display: none;
}
.menu {
	display: flex;
	align-items: center;
	gap: 0 33px;
}
.mobileMenu {
	transition: 0.3s all ease-in;
}
.list {
	display: flex;
	align-items: center;
	gap: 0 48px;
}
.buttons {
	display: flex;
	align-items: center;
	gap: 0 16px;
	font-weight: 600;
	font-family: 'Sofia Pro', sans-serif;
}
.link {
	font-weight: 500;
}
.link:hover {
	text-decoration: underline;
}
.signUp,
.getStarted {
	padding: 12px 24px;
	border-radius: 100px;
}
.signUp {
	border: 1px solid #fff;
}
.getStarted {
	background: linear-gradient(
		266deg,
		#246cf9 -0.27%,
		#1e68f6 -0.26%,
		#0047d0 98.59%
	);
}

@media (max-width: 940px) {
	.menu {
		display: none;
	}
	.btn {
		display: inline-block;
		z-index: 10;
	}
	.wrapper {
	}
	.mobileMenu {
		background-color: #1e1f25;
		border-left: 1px solid #222;
		padding: 80px 30px 30px 30px;
		display: flex;
		flex-direction: column;
		position: absolute;
		gap: 30px;
		top: 0;
		right: 0;
	}
	.list {
		flex-direction: column;
		align-items: flex-start;
		gap: 15px;
	}
	.buttons {
		flex-direction: column;
		gap: 20px;
	}
	.inner {
		align-items: flex-start;
	}
}
