.platform {
	overflow: hidden;
}
.inner {
	padding-top: 120px;
	display: flex;
	align-items: center;
	gap: 0 42px;
}
.img img {
	animation: img-animate 2.5s linear 1s infinite alternate;
	width: 100%;
}
.title {
	color: #fff;
	font-family: Sofia Pro;
	font-size: 49px;
	font-weight: 700;
	line-height: 110%;
	padding-bottom: 24px;
}
.info {
	max-width: 550px;
}
.box {
	position: relative;
	max-width: 452px;
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 32px;
}
.box::before {
	position: absolute;
	content: '';
	width: 358.5px;
	height: 283.992px;
	background-image: url('../images/platformLine.svg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	top: -130px;
	left: 382px;
	z-index: -1;
}

@keyframes img-animate {
	0% {
		transform: translate(0, -30px);
	}
	100% {
		transform: translate(0, 0);
	}
}

@media (max-width: 980px) {
	.img {
		display: none;
	}
	.box::before {
		top: -140px;
		left: 200px;
	}
}
@media (max-width: 600px) {
	.inner {
		padding-top: 70px;
	}
	.title {
		font-size: 45px;
		line-height: 100%;
	}
}
@media (max-width: 500px) {
	.inner {
		padding-top: 50px;
	}
	.title,
	.info {
		text-align: center;
	}
	.title {
		font-size: 35px;
		line-height: 95%;
		padding-bottom: 20px;
	}
	.info {
		font-size: 14px;
	}
	.box {
		padding-top: 20px;
	}
	.box::before {
		top: -120px;
		left: 100px;
	}
}
@media (max-width: 405px) {
	.inner {
		padding-top: 40px;
		text-align: center;
	}
	.title {
		font-size: 28px;
		line-height: 90%;
		padding-bottom: 15px;
	}
}
